﻿
@model IEnumerable<Learner>
<div class="ms-2 mx-2">
    <h1>Learner List</h1>
    @await Component.InvokeAsync("Major")
    <div id="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Ngành</th>
                    <th>Ngày Nhập Học</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.LearnerID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.Major.MajorName</td>
                        <td>@s.EnrollmentDate</td>
                        <td><a asp-controller="My" asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a>|<a asp-controller="My" asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <ul class="pagination">
        <li class="page-previous">
            <a class="page-link previous">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-next">
            <a class="page-link next" href="#">Next</a>
        </li>
    </ul>
    <a asp-action="Create" class="btn btn-primary">Create New Student</a>
</div>


@section Scripts {
    <script>
        $("li").click(function (e) {
            var id = $(this).attr("id");
            //alert(id)
            $.ajax({
                url: "LearnerByMajorID",
                data: { mid: id },
                success: function (response) {
                    $("div#content").html(response)
                }
            });
        });

        var currentPage = 1; // Trang hiện tại

        $(".next").click(function (e) {
            e.preventDefault();
            currentPage++;
            $.ajax({
                url: "/My/LearnerByPage",
                data: { page: currentPage },
                success: function (response) {
                    $("div#content").html(response)
                },
            });
        });
        $(".previous").click(function (e) {
            e.preventDefault();
            currentPage--;
            $.ajax({
                url: "/My/LearnerByPage",
                data: { page: currentPage },
                success: function (response) {
                    $("div#content").html(response)
                },
            });
        });
        $(".page-item a.page-link").data("page", function () {
            return $(this).text(); // Sử dụng giá trị văn bản bên trong thẻ <a> làm giá trị "data-page"
        });
        var pageValue = $(".page-item").data("page");
        console.log("Giá trị của data-page là: " + pageValue);
    </script>
}